* {
	padding: 0px;
	margin: 0px;
	font-family: serif,sans,Verdana,Arial;
	font-style: normal;
	text-decoration: none;
	outline: none;
}

body {
	background-color: #4682b4;
	font-size: 16px;
}
img {
    border: none;
}

#wrap {
	margin: 0 auto;
	max-width: 1200px;
	min-width: 820px;
	padding: 20px 40px 0;
}

#header {
	margin-top: 10px;
	text-align: center;
}

#header h1 {
	letter-spacing: -2px;
	line-height: 1;
	margin: 10px 0 30px;
	word-spacing: 10px;
}

h1 {
	font-size: 80px;
}

h4 {
	font-size: 20px;
}

#header h4 {
	border-top: 1px solid #4682B4;
	border-bottom: 1px solid #174A75;
	padding: 0;
	display: block;
}

#header h4 ul {
	background-color: #496B87;
	padding-bottom: 3px;
}

#header h4,
#header h4 ul,
#header h4 ul li,
#header h4 ul li a {
/*	float: left; */
}

#header h4 ul {
	list-style: none;
}

#header h4 ul li {
	padding: 0px 2px;
	margin: 0 0 0 10px;
	display: inline;
}

#header h4 ul li a {
	color: #BFA861;
	font-size: 14px;
	font-weight: bold;
	text-decoration: underline;
	text-transform: uppercase;
	text-align: center;
	margin: 0;
	padding: 0;
}

#header h4 ul li a:hover {
	color: yellow;
	text-decoration: none;
}

#outer {
	margin: 36px 0 0;
}

#content {
	width: 800px;
	margin: 0 auto;
	color: #fff
}

#content h1 {
	margin-left: 7px;
	margin-bottom: 4px;
	font-size: 20px;
	line-height: 20px;
	margin: 20px 0 13px;
}


#content p {
	margin-left: 30px;
	margin-top: 20px;
	margin-bottom: 5px;
	padding: 2px;
	color: #fff;
	font-size: 16px;
	line-height: 24px;
}

#content ul li {
	margin-left: 30px;
	line-height: 24px;
}

#content a {
	color: #00FF00;
	color: #FFD658;
	text-decoration: underline;
	font-weight: bold;
}

#content a:hover {
	color: yellow;
	text-decoration: none;
}

h3 {
	font-size: 28px;
}

p {
	font-size: 16px;
	line-height: 24px;
}

/*
4682B4
4682B4
	
496B87
496B87
	
174A75
174A75
	
76ACDA
76ACDA
	
90B8DA
90B8DA
FFD658
FFD658
	
BFA861
BFA861
	
A6841D
A6841D
	
FFE082
FFE082
	
FFE8A3
FFE8A3
FF8A58
FF8A58
	
BF7D61
BF7D61
	
A6451D
A6451D
	
FFA782
FFA782
	
FFBEA3
FFBEA3
*/
