body {
	font-family: 'Roboto', serif;
	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;
	font-size: 18px;
}

p {
    padding-left: 1%;
    padding-right: 1%;
}

a {
	color: #3b5998;
}

a:hover {
	text-decoration: underline;
	color: #3b5998;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	text-align: center;
}

h1 {
	font-size: 45px;
	text-align: center;
}

h2 {
	font-size: 30px;
	padding-bottom: 8px;
	text-align: center;
}

h3 {
	padding-top: 8px;
	padding-bottom: 8px;
	font-size: 24px;
}

.shaded-code {
	font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
	display: block;
	padding: 9.5px;
	margin: 0 0 10px;
	font-size: 13px;
	line-height: 1.428571429;
	color: #333333;
	background-color: #f5f5f5;
	border: 1px solid #cccccc;
	border-radius: 4px;
}

.nasm-info {
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 18px;
}

table {
    margin: 0px auto;
    width: 90%;
    empty-cells: show;
    border-collapse: collapse;
}
td, th {
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    padding: 0.5em 1.5em;
}
td.sep, th.sep {
    border-right: 1px solid #cccccc;
}
table caption {
    border-top: 1px solid #cccccc;
    text-align: center;
    font-size: 24px;
    padding: 0.25em 1.5em;
}
table thead {
    text-align: center;
}
table tbody {
    text-align: left;
}
.navbar ul {
    display: block;
    position: sticky;
    top: 8px;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    list-style-type: none;
    background-color: #336;
}
.navbar ul li {
    float: left;
}
.navbar ul li.last {
    border-right: none;
}
.navbar ul a {
    border-right: 1px solid #bbb;
    display: block;
    color: white;
    text-align: center;
    padding: 1em 1.5em;
    text-decoration: none;
}
.navbar ul a.home {
    padding: 1px 1px;
}
.navbar ul img {
    height: 3em;
}
.navbar ul a:hover {
    background-color: #448;
}
.footer {
    text-align: left;
    font-size: 12px;
}
