Redirect "/git"		"https://github.com/netwide-assembler/nasm.git"
Redirect "/repo"	"https://github.com/netwide-assembler/nasm.git"
Redirect "/src"		"https://github.com/netwide-assembler/nasm.git"
Redirect "/bugs"	"https://bugzilla.nasm.us"
Redirect "/bugzilla"	"https://bugzilla.nasm.us"
Redirect "/forum"	"https://forum.nasm.us"
Redirect "/download"	"/pub/nasm/releasebuilds/?C=M;O=D"
Redirect "/snapshot"	"/pub/nasm/snapshots/latest"
Redirect "/stable"	"/pub/nasm/stable"
Redirect "/testing"	"/pub/nasm/testing"
Redirect "/rc"		"/pub/nasm/testing"
